<!DOCTYPE html>
<html>
<head>
	<title>Babystep's blog</title>
</head>

<body>
	<center>
		<h2>Hi there!</h2>
		<h2>Welcome to babystep's blog</h2>

		<p>
			Share with the world the baby steps of your area of expertise.
		</p>
		
		<p>
			Here, you are the <strong><em>expert</em></strong>. Share with others the baby steps of your area of expertise. You can also invite them to join your <a href="https://www.reddit.com/">reddit</a> channel if you have one, or simply <a href="https://www.reddit.com/"> reate one</a>.
		</p>
	</center>
</body>

</html>